{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'dark',
    utility_classes: ['bg-dark'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  {% if page.breadcrumbs %}
    <div class="page__breadcrumbs">
      <div class="container">
        {{ page.breadcrumbs }}
      </div>
    </div>
  {% endif %}

  <main class="pt-5 pb-5">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.tasks %}
      <div class="page__tasks">
        <div class="container">
          {{ page.tasks }}
        </div>
      </div>
    {% endif %}

    {% if page.content_above %}
      <div class="page__content_above">
        <div class="container">
          {{ page.content_above }}
        </div>
      </div>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.content_below %}
    <div class="page__content_below">
      <div class="container">
        {{ page.content_below }}
      </div>
    </div>
  {% endif %}

  {% if page.footer or page.copyright %}
    <footer class="page__footer">
      {% if page.footer %}
        <div class="container">
          <div class="d-flex justify-content-md-between align-items-md-center">
            {{ page.footer }}
          </div>
        </div>
      {% endif %}
      {% if page.copyright %}
        <div class="container">
          <div class="d-flex justify-content-md-between">
            {{ page.copyright }}
          </div>
        </div>
      {% endif %}
    </footer>
  {% endif %}
</div>
