{#
/**
 * @file
 * Template for the main page.
 */
#}

{# Allow sidebars  #}
{% set sidebar_supported = sidebar_supported ?? true %}
{% set has_sidebar = has_sidebar ?? false %}
{% set main_attributes = create_attribute() %}
{% set main_classes = []|merge(main_classes|default([])) %}
{% set content_attributes = create_attribute() %}
{% set content_classes = []|merge(content_classes|default([])) %}
{% set sidebar_first_attributes = create_attribute() %}
{% set sidebar_first_classes = []|merge(sidebar_first_classes|default([])) %}
{% set sidebar_second_attributes = create_attribute() %}
{% set sidebar_second_classes = []|merge(sidebar_second_classes|default([])) %}

{# Classes for page wrapper. #}
{% set classes = [
  'page',
]|merge(classes|default([])) %}

{# Sandbox sidebar classes so they can be disabled from extending templates. #}
{% if sidebar_supported %}

  {% if page.sidebar_second or page.sidebar_first %}
    {% set content_classes = content_classes|merge(['col-md-6']) %}
  {% elseif page.sidebar_second and page.sidebar_first %}
    {% set content_classes = content_classes|merge(['col-md-8', 'col-lg-9']) %}
  {% else %}
    {% set content_classes = content_classes|merge(['col-lg-7', 'col-xl-6']) %}
  {% endif %}

  {# At least one Sidebar. #}
  {% if page.sidebar_first or page.sidebar_second %}
    {% set has_sidebar = true %}
  {% endif %}

  {# Only Sidebar First. #}
  {% if page.sidebar_first and not page.sidebar_second %}
    {% set sidebar_first_classes = sidebar_first_classes|merge(['col-md', 'order-first']) %}
    {# {% set sidebar_first_classes = sidebar_first_classes|merge(['col-md-4', 'col-lg-3', 'order-first']) %} #}
  {% endif %}

  {# Only Sidebar Second. #}
  {% if page.sidebar_second and not page.sidebar_first %}
    {% set sidebar_second_classes = sidebar_second_classes|merge(['col-md', 'order-last']) %}
    {# {% set sidebar_second_classes = sidebar_second_classes|merge(['col-md-4', 'col-lg-3', 'order-last']) %} #}
  {% endif %}

  {# Both Sidebars. #}
  {% if page.sidebar_second and page.sidebar_first %}
    {% set sidebar_first_classes = sidebar_first_classes|merge(['col-md', 'order-first']) %}
    {% set sidebar_second_classes = sidebar_second_classes|merge(['col-md', 'order-last']) %}
  {% endif %}

{% else %}
  {% set content_classes = content_classes|merge(['col-md-12']) %}
  {% set sidebar_first_classes = sidebar_first_classes|merge(['col-md-auto', 'order-first']) %}
  {% set sidebar_second_classes = sidebar_second_classes|merge(['col-md-auto', 'order-last']) %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {% embed '@apigee-kickstart/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: false
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  {% if page.breadcrumbs|render %}
    <nav aria-label="breadcrumb" class="page__breadcrumbs">
      <div class="container">
        <ol class="breadcrumb">
          {{ page.breadcrumbs }}
        </ol>
      </div>
    </nav>
  {% endif %}

  {% if page.header|render %}
    <header class="page__header">
      {# If field_header has a value, it should replace the title block.#}
      {% if node.field_header.value %}
        {{ page.header|without('apigee_kickstart_title') }}
      {% else %}
        {{ page.header }}
      {% endif %}
    </header>
  {% endif %}

  {# If field_header has a value, the tabs will print in the node template.#}
  {% if page.tasks|render and not node.field_header.value %}
    <div class="page__tasks">
      <div class="container">
        {{ page.tasks }}
      </div>
    </div>
  {% endif %}

  {% if page.content_above %}
    <div class="page__content-above">
      <div class="container-fluid px-0">
        {{ page.content_above }}
      </div>
    </div>
  {% endif %}

  <main{{ main_attributes.addClass(main_classes) }}>

    {% if sidebar_supported and has_sidebar %}
      <div class="container py-5">
        <div class="row">
    {% elseif sidebar_supported %}
      <div class="container py-5">
    {% endif %}

    {% block content %}
      {% if page.content %}
        <div{{ content_attributes.addClass('page__content', content_classes) }}>
          {{ page.content }}
        </div>
      {% endif %}
    {% endblock %}

    {% if not sidebar_supported %}
      <div class="container py-5">
        <div class="row justify-content-around">
    {% endif %}

    {% block sidebar_first %}
      {% if page.sidebar_first %}
        <aside{{ sidebar_first_attributes.addClass('page__sidebar', 'sidebar-first', sidebar_first_classes) }}>
          {{ page.sidebar_first }}
        </aside>
      {% endif %}
    {% endblock %}

    {% block sidebar_second %}
      {% if page.sidebar_second %}
        <aside{{ sidebar_second_attributes.addClass('page__sidebar', 'sidebar-second', sidebar_second_classes) }}>
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    {% endblock %}

    {% if not sidebar_supported  %}
        </div>{# .row #}
      </div>{# .container #}
    {% endif %}

    {% if sidebar_supported and has_sidebar %}
        </div>{# .row #}
      </div>{# .container #}
    {% elseif sidebar_supported %}
      </div>
    {% endif %}
  </main>

  {% if page.content_below %}
    <div class="page__content-below">
      <div class="container-fluid px-0">
        {{ page.content_below }}
      </div>
    </div>
  {% endif %}

  {% if page.footer or page.copyright %}
    <footer class="page__footer">
      {% if page.footer %}
        <div class="footer pt-5 pb-4 pb-md-8">
          <div class="container">
            <div class="d-md-flex justify-content-md-between">
              {{ page.footer }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if page.copyright %}
        <div class="copyright py-1">
          <div class="container">
            <div class="d-md-flex justify-content-md-end">
              {{ page.copyright }}
            </div>
          </div>
        </div>
      {% endif %}
    </footer>
  {% endif %}
</div>
