{#
/**
 * @file
 * Template for a Hero Paragraph.
 */
#}
{% extends 'paragraph.html.twig' %}
{% block content %}
  <div class="container-fluid px-0">
    <div class="hero__wrapper">
      <div class="hero__content py-9 py-md-0">
        {{ content.field_title }}
        {{ content.field_text }}
        {{ content.field_buttons }}
        {{ content|without('field_buttons', 'field_media', 'field_text', 'field_title') }}
      </div>
      <div class="hero__media d-none d-md-block">
        {{- content.field_media -}}
      </div>
    </div>
  </div>
{% endblock %}
