{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldeset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{%
  set classes = [
  'js-form-item',
  'form-item',
  'js-form-wrapper',
  'form-wrapper',
  'card',
  'border-0',
  'mb-3',
]
%}
<fieldset{{ attributes.addClass(classes) }}>
  {%
    set legend_span_classes = [
    'fieldset-legend',
    'mb-0',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
  %}
  {#  Always wrap fieldset legends in a SPAN for CSS positioning. #}
  <div class="card-header bg-white border-0 pt-4 pb-3">
    <legend{{ legend.attributes.addClass('m-0') }}>
      <h4{{ legend_span.attributes.addClass(legend_span_classes) }}>
        {{ legend.title }}
      </h4>
      <i class="fas fa-chevron-down d-sm-none"></i>
    </legend>
  </div>
  <div class="card-body p-4 fieldset-wrapper">
    {% if errors %}
      <div>
        {{ errors }}
      </div>
    {% endif %}
    {% if prefix %}
      <span class="field-prefix">{{ prefix }}</span>
    {% endif %}
    {{ children }}
    {% if suffix %}
      <span class="field-suffix">{{ suffix }}</span>
    {% endif %}
    {% if description.content %}
      <small{{ description.attributes.addClass('description', 'form-text', 'text-muted') }}>{{ description.content }}</small>
    {% endif %}
  </div>
</fieldset>
