{#
/**
 * @file
 * Template for Apigee Edge App in Collapsible card display mode.
 *
 * Available variables:
 * - entity: The Apigee Edge App entity.
 * - content: All app items. Use {{ content }} to print them all,
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}
{% extends 'apigee-entity--app.html.twig' %}
{% block content %}
    {% set tab_suffix = entity.name|clean_class %}

    {% embed '@apigee-kickstart/card/collapsible-card.twig' with {
        utility_classes: classes,
        title: entity.label
    } %}

        {% block header %}
            {{ content.status }}
        {% endblock %}

        {% block content %}
          {% if content.credentials %}
            <div class="tab-pane show active" id="credentials-{{ tab_suffix }}">
              <div class="card apigee-entity--app__details">
                <h4 class="card-header bg-white">
                  {{ "Details" }}
                </h4>
                <div class="card-body">
                  {{ content|without('status', 'credentials') }}
                </div>
              </div>

              <div class="card apigee-entity--app__credentials">
                <h4 class="card-header bg-white">
                  {{ "Credentials"|t }}
                </h4>
                <div class="card-body pb-0">
                  {{ content.credentials }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

