{#
/**
 * @file
 * Template for a Details component.
 */
#}

{{ attach_library('core/drupal.collapse') }}
{% set open = open|default(false) %}
{% set classes = [
  'details',
  'py-3',
  'pt-md-4',
  'pb-md-5',
  'px-3'
]|merge(classes|default([])) %}

<details class="{{ classes|join(' ')|trim }}"{{ open ? ' open' : '' }}>
  <summary class="details__summary pr-8">
    {{ summary }}
    <i class="details__icon fas fa-chevron-down"></i>
  </summary>
  <div class="details-wrapper details__content pt-4 pr-8">
    {{ content }}
  </div>
</details>
